# docker-compose.yml
services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    env_file:
      - ./.env
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/cmt_db
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    depends_on:
      - db
      - redis

  db:
    # ... (sin cambios) ...
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=cmt_db
    ports:
      - "5432:5432"

  frontend:
    # ... (sin cambios) ...
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend

  # --- NUEVOS SERVICIOS ---
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  worker:
    build: ./backend
    command: celery -A core.celery_worker.celery_app worker -l info
    volumes:
      - ./backend:/app
    env_file:
      - ./.env
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/cmt_db
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    depends_on:
      - backend
      - redis
  # --- FIN DE NUEVOS SERVICIOS ---

  # El despertador
  beat:
    build: ./backend
    command: celery -A core.celery_worker.celery_app beat -l info
    volumes:
      - ./backend:/app
    # --- SECCIÓN A CORREGIR / AÑADIR ---
    env_file:
      - ./.env
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/cmt_db
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    # --- FIN DE LA SECCIÓN ---
    depends_on:
      - backend
      - redis

volumes:
  postgres_data: